
#main-content {
    background-color: #badbf3;
    margin-top: 50px;
    margin-left: 20px;
    position: relative;
}
.background-img {
    position: fixed;
    width: 100%;
    background-attachment: fixed;
}
#background-img {  
    width: 100%;  
    
}
.header-bar {
    background-color: black;
    height: 2px;
    margin-bottom: 10px;
}
h1 {
    margin-left: 20px;
}

/* index style */
.index-image {
    float: left;
    margin-right: 10px;
    width: 350px;
}


/* Portfolio Style */
#portfolio-content {
    position: relative;
    background-color: #badbf3;
    margin-top: 50px;
    margin-left: 20px;
    width: 900px;
}
.portfolio-image {
    margin: 20px;
    width: 350px;
}
.portfolio-image-col {
    
}
/* Contact Style */
#contact-content {
    position: relative;
    background-color: #badbf3;
    margin-top: 50px;
    margin-left: 20px;
    width: 700px;
}
#submit-btn {
    margin-bottom: 20px;
    background-color: #6b7e8b;
    border-color: #badbf3;
}