div {
    font-family: Arial, Helvetica, sans-serif;
}
.header-bar {
    background-color: black;
    height: 2px;
    margin-bottom: 10px;
}
#background-img {
    position: fixed;
    width: 1500px;
    background-attachment: fixed;
}
#sticky-footer {
    width: 100%;
    bottom: 0;
    position: fixed; 
    left: 0;
}
.large-view {
    margin-left: 20px;
    background-color: #badbf3;
    margin-top: 50px;
    position: relative;
    margin-bottom: 100px;  
}
/* index style */
h1 {    
    margin-left: 18px;
}
#main-content {
      
}
.index-image {
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 350px;
}

/* Portfolio Style */
#portfolio-content {
}
.portfolio-image {
    margin: 20px;
    width: 400px;
}

/* Contact Style */
#contact-content {
    width: 750px;
}
#submit-btn {
    margin-bottom: 20px;
    background-color: #6b7e8b;
    border-color: #badbf3;
}

@media screen and (max-width: 768px) {
    .medium-view {
        margin-left: 20px;
        width: 750px;
    }
    .index-image {
        margin-right: 10px;
        width: 250px;
    }
    /* Portfolio Style */
    #portfolio-image {
        width: 350;
    }
    .portfolio-image {
        margin: 10px;
        width: 450px;
    }
    /* Contact Style */
}

@media screen and (max-width: 400px) {
    .small-view {
        width: 90%;
    }

    /*Index Style */
    .index-image {
        margin-right: 10px;
        width: 200px;
    }

    /* Portfolio Style */
    .portfolio-image {
        margin: 20px;
        width: 310px;
        margin-left: 5px;
    }
   /* Contact Style */
    #contact-content {
        width: 90%;
    }
 
    #submit-btn {
        font-size: 38px;
    }
}